# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.gitignore
Makefile
messages2421.txt
Procfile
Procfile_backup
templateTexteSitPres.odp
test.js
.git
oldRessources
