<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<!--<body onload="loadCharts()">-->

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
    <div class="container">
      <h1>Need a computerized solution?</h1>
    </div>
  </div>

<!-- _________________ PICTURES PART _________________ -->

<div class="icons">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
			<img src="/spotlight1.png" class="bodyimage1 img-responsive" alt="Pricefull">
		  <div class="iconsText">
          <h2>Web site solution</h2>
			<p>
			  Your website will be delivered on time with the best quality.
			</p>
		  </div>
        </div>
        <div class="col-md-4">
            <img src="/spotlight2.png" class="bodyimage2 img-responsive" alt="Pricefull">
		  <div class="iconsText">
            <h2>software solution</h2>
            <p>
			  We will agree on a deadline and commit to it.
			</p>
          </div>
        </div>
        <div class="col-md-4">
            <img src="/spotlight3.png" class="bodyimage3 img-responsive" alt="Pricefull">
		  <div class="iconsText">
            <h2>complete solution</h2>
            <p>
			  Your project is both software and web oriented? Your ideas will be lead to direct results.
			</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact1 mainSections">
    <div class="container">
      <a href="#contact" class="btn" id="btn1">Get in touch</a>
    </div>
  </div>

<!-- _________________ SKILLS PART _________________ -->

  <h2 class="abilities">Top-skills: <h2>

  <div class="skillsSets" id="about">
	<div class="container-fluid">
	  <div class="row">
			<div class="col-md-4">
	<img src="/softwareskills.png" class="bodyimageskills">
			  <!--<div class="chartdivs" id="chartdiv1">-->
			  <!--</div>-->
			</div>
			<div class="col-md-4">
	<img src="/webdevskills.png" class="bodyimageskills">
			  <!--<div class="chartdivs" id="chartdiv2">-->
			  <!--</div>-->
			</div>
			<div class="col-md-4">
	<img src="/methodskills.png" class="bodyimageskills">
			  <!--<div class="chartdivs" id="chartdiv3">-->
			  <!--</div>-->
			</div>
	  </div>
	</div>
  </div>

<!--<ol style="visibility:hidden;">
	<li>&nbsp;</li>
	<br>
</ol>
-->

<!-- _________________ BACKGROUND IMAGE _________________ -->
<!--<div class="sublimimage">-->
	<!--<img src="/colorizedbackground2.png" style="max-width:100%">-->
<!--</div>-->


<!-- _________________ CONTACT _________________ -->

<div class="contact2 mainSections" id="contact">
    <div class="container-fluid">
      <div class="row">
		<div class="col-md-7 shortbrief"><!-- colorizedbackground"> -->
          <h2>Brief</h2>
<p>
Francois Clerc,<br>freelance software and web developer engineer based in Paris,<br>
with 7 years of experience after a Masters degree.
</p>
<!--<a href="/CV_FC.html">See French CV</a> -->
<p>
Resume / CV:&emsp;
<a href="/Resume_FC_2020.pdf" target="_blank"> <!-- download-->
	<img border="0" src="/pdf-icon-EN.png" alt="English Résumé" title="Get English Résumé" width="50vw" height="50vh">
</a>
&nbsp;
<a href="/CV_FC_2020.pdf" target="_blank"> <!-- download-->
	<img border="0" src="/pdf-icon-FR.png" alt="French CV" title="Get French CV" width="50vw" height="50vh">
</a><br>
</p>
<p>
<a href="https://blog.clercdev.com">https://blog.clercdev.com</a>
				</p>
          <h2 class="readContacts">Contact</h2>
    <ul>
      <!-- input field used instead of just p element because we want to be able to copy its content to clipboard -->
      <li>
			  +33 (0) 6 20 19 77 04
      </li>
      <li>
			  <input id="mailAddrHolder" value="fhc.develop@gmail.com" size="23%" readonly>
      </li>
      <li>
          <input type="button" onclick="copyTextToClipBoard()" class="btn" id="btn2" title="clic to copy this email address into your clipboard" value="Copy mail to clipboard">
      </li>
      </ul>
		</div>
        <div class="col-md-5">
          <div class="realcontact">
          <h2 >Leave a message</h2>
<form action='/contactForm'  method='post' name='contactForm' onsubmit="cvalidateForm()" id="contact_form">
  <table style="width:100%;">
    <tr>
      <td align="left"><label for="name">Name:</label></td>
      <td align="right"><input type='text' name='mailerName' placeholder="your Name here" pattern=".{5,40}" required title="5 to 40 characters" size="30" id="mailerName"></td>
    </tr>
    <tr>
      <td align="left"><label for="email">Email:</label></td>
      <td align="right"><input name='mailerMail' type="email" required pattern=".{5,40}" placeholder="yourmail@address.com" size="30"></td>
    </tr>
    <tr>
      <td align="left"><label for="message">Message:</label></td>
      <td align="right"><textarea name="mailerMsg" id="mailerMsg" placeholder="your Project(s)." pattern=".{1,5000}" rows="4" cols="50" required></textarea></td>
    </tr>
	
  </table>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <!--    <label for="address" class='address'>Address:</label>
    <input type='text' name='address' class='address' value="tralala">
  -->
    <input type='submit' value='submit'>
    <input type='reset'  value='reset'>
	<!-- TODO	<button type="submit" style="background-color:transparent; border-color:transparent;"> 
  <img src="images/button/masuk.png" height="35"/>
</button>
<button type="reset" style="background-color:transparent; border-color:transparent;"> 
  <img src="images/button/reset.png" height="35"/>
</button>-->
</form>

      </div><!-- RealContact -->
	  <!--<div class="barsL"></div>-->
	  <!--<div class="barsM"></div>-->
	  <span id="formResult" class="formresult">Message sent.<br> You will be contacted asap.<br> Thank you.</span>

	  </div><!-- col-md-5 -->
	  </div><!-- Row -->
    </div><!-- Container-fluid -->
</div><!-- Contact -->

<!-- _________________ MAIN END _________________ -->

<script>
  var formProcessed = "<%= formProcessed %>";
</script>
<script src="/myElements.js"></script>
<!--<script src="/myCharts.js"></script>-->


<div class="footer">
		<p>&copy; Francois Clerc. Power of Node</P>
</div>

</body>

</html>
