<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <video autoplay loop muted id="bgvideo">
    <source src="/mov10485.mp4" type="video/mp4"></source>
  </video>

  <% include ../partials/nav.ejs %>

<div class="verticalSpaceX"></div>

<div class="jumbotron">
    <div class="container">
      <h1>Need a computerized solution?</h1>
    </div>
  </div>

<div class="verticalSpaceX"></div>

  <div class="icons">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/money.png" class="bodyimage" alt="Pricefull">
          <h2>Web site solution</h2>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
</p>
        </div>
        <div class="col-md-4">
          <img src="/money4.png" class="bodyimage" alt="Pricefull">
          <h2>software solution</h2>
          <p>We will agree on a deadline and commit to it.</p>
        </div>
        <div class="col-md-4">
          <img src="/money3.png" class="bodyimage" alt="Pricefull">
          <h2>complete solution</h2>
          <p>We will deliver your website on time with the best quality.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="contact1">
    <div class="container">
      <a href="#contact" class="btn">Get in touch</a>
	  <!-- <span class="tooltiptext">contact form</span> -->
    </div>
  </div>

<div class="verticalSpaceX"></div>

  <!-- not so nice pie chart from Chart.js -->  
 <div class="skills">
    <div class="container">
      <div class="row">
			  <!--TODO: a noscript section in case user desactivated javascript -->
			<div id="chartdiv1" class="col-md-4 chartdivs"></div>
			<div id="chartdiv2" class="col-md-4 chartdivs"></div>
			<div id="chartdiv3" class="col-md-4 chartdivs"></div>
      </div>
    </div>
  </div>


<!-- vertical spacing section -->
<!--<ol style="visibility:hidden;">
	<li>&nbsp;</li>
	<br>
</ol>
-->

<div class="verticalSpaceX"></div>

<div class="contact2" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
				<p style="margin-top:30px;">
<a href="https://swaf253607704.wordpress.com">swaf253607704.wordpress.com</a>

<a href="/Resume_FrancoisClerc.pdf" target="_blank"> <!-- download-->
  <img border="0" src="/pdf-icon-EN.png" alt="English Résumé" title="Get English Résumé" width="25px" height="25px">
</a>
<a href="/CV_FC.pdf" target="_blank"> <!-- download-->
  <img border="0" src="/pdf-icon-FR.png" alt="French CV" title="Get French CV" width="25px" height="25px">
</a>



Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
				</p>
		</div>
        <div class="col-md-5">
    <ul>
      <!-- input field used instead of just p element because we want to be able to copy its content to clipboard -->
      <li>
			  <label>Tel: +33 (0)6 20197704</label>
      </li>
      <li>
			  <label>fhc.develop@gmail.com</label>
          <input type="text" value="fhc.develop@gmail.com" id="mailAddrHolder" hidden readonly>
      </li>
      <li>
          <input type="button" onclick="copyTextToClipBoard()" class="btn" title="clic to copy this email address into your clipboard" value="Copy mail to clipboard">
      </li>
      </ul>
<form action='/contactForm'  method='post' name='contactForm' onsubmit="cvalidateForm()" class="contact_form">
  <table>
    <tr>
      <td align="left"><label for="name">Name:</label></td>
      <td align="right"><input type='text' name='mailerName' placeholder="Your name.." pattern=".{5,40}" required title="5 to 40 characters" size="30" id="mailerName"></td>
    </tr>
    <tr>
      <td align="left"><label for="email">Email:</label></td>
      <td align="right"><input name='mailerMail' type="email" required pattern=".{5,40}" placeholder="mymail@addr.com" size="30"></td>
    </tr>
    <tr>
      <td align="left"><label for="message">Message:</label></td>
      <td align="right"><textarea name="mailerMsg" id="mailerMsg" placeholder="Your project." pattern=".{1,5000}" rows="4" cols="50" required></textarea></td>
    </tr>
	
  </table>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <!--    <label for="address" class='address'>Address:</label>
    <input type='text' name='address' class='address' value="tralala">
  -->
    <input type='submit' value='submit'>
    <input type='reset'  value='reset'>
	<!-- TODO	<button type="submit" style="background-color:transparent; border-color:transparent;"> 
  <img src="images/button/masuk.png" height="35"/>
</button>
<button type="reset" style="background-color:transparent; border-color:transparent;"> 
  <img src="images/button/reset.png" height="35"/>
</button>-->
</form>

    </div>
  </div>
    </div>
  </div>

  <!-- <div class="footer">
    <div class="container">
      <p>&copy; Develop with Henry.</p>
    </div>
  </div> -->

  <script>
	var formProcessed = "<%= formProcessed %>";
  </script>
<script src="/myElements.js"></script>
<script src="/myCharts.js"></script>

<div class="verticalSpaceX"></div>

<footer>
    <p style="text-align: right; margin-right:20px;">&copy; powered by  with Henry.</p>
</footer>

</body>

</html>
